[submodule "06_RAGs_DeepDive/01_RAG_from_Scratch/notebooks/rag-from-scratch"]
	path = 06_RAGs_DeepDive/01_RAG_from_Scratch/notebooks/rag-from-scratch
	url = https://github.com/langchain-ai/rag-from-scratch.git
[submodule "06_RAGs_DeepDive/01_RAG_from_Scratch/notebooks/langsmith-onboarding"]
	path = 06_RAGs_DeepDive/01_RAG_from_Scratch/notebooks/langsmith-onboarding
	url = https://github.com/nhuang-lc/langsmith-onboarding.git
[submodule "06_RAGs_DeepDive/02_Azure_LLMs/notebooks/03_semantic_kernel/azure-chat-demo"]
	path = 06_RAGs_DeepDive/02_Azure_LLMs/notebooks/03_semantic_kernel/azure-chat-demo
	url = https://github.com/alfredodeza/azure-chat-demo.git
[submodule "06_RAGs_DeepDive/02_Azure_LLMs/notebooks/historical-temperatures-api"]
	path = 06_RAGs_DeepDive/02_Azure_LLMs/notebooks/historical-temperatures-api
	url = https://github.com/alfredodeza/historical-temperatures.git
[submodule "06_RAGs_DeepDive/02_Azure_LLMs/notebooks/azure-rag"]
	path = 06_RAGs_DeepDive/02_Azure_LLMs/notebooks/azure-rag
	url = https://github.com/alfredodeza/azure-rag.git
